@mixin flex-col {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    column-gap: 10px
}

.settings-layout {

    .controls-block {
        @include flex-row();
        padding: 10px;
    }

    .settings-block {

        .base-info-layout {
            & > div > div > .password-control {
                text-align: end;
            }
            & > div > div > .checkbox {
                @include flex-row();
                justify-content: flex-start;
            }
            & > div > div > .control {
                @include flex-row();
                justify-content: flex-end;
            }

            & > div > div > .items-cloud {
                display: flex;
                flex-direction: row;
                column-gap: 10px;
                justify-content: flex-start
            }
        }

        .search-block {
            @include flex-row();
            justify-content: space-between;


            & > div {
                @include flex-row();
                justify-content: space-between;
                align-items: center;
            }
        }


        .buttons-block {
            @include flex-row();
            padding-top: 20px;
            justify-content: space-between;
        }
    }

}

.speciality-layout {
    & > div > div > .items-cloud {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        justify-content: flex-start
    }
}

.listbox {
    width: '200px';
    margin: 0;
    padding: 0;
    z-index: 1;
    list-style: "none";
    background-color: 'red';
    max-height: '200px';

    & > ul > li {
        cursor: pointer;
    }

    & > div > li {
        &:hover{
             cursor: "pointer";
        }
    };
    & > li {
        &:active {
            background-color: "#2977f5";
            color: "white";
            cursor: "pointer";
        }
    };
    & > input {
        aria-controls: 'use-autocomplete-demo-popup'
    }
}