@mixin flex-col {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: flex-start;
}


.modal-window-header {
    display: flex;
    flex-direction: column !important;
    justify-content: space-around;
    align-items: center;
}

.clinics-layout {

    .controls-block {
        @include flex-row();
        padding: 10px;
    }

    .clinics-table {
        @include flex-col();
    
        .table-header {
            @include flex-row();
            font-weight: bold;
            & > .rc-checkbox {
                width: 100px;
                min-width: 100px;
            }
    
            & > .id {
                min-width: 100px;
            }
    
            & > .name,
            & > .description {
                min-width: 450px;
            }

            & > div {
                min-width: 100px;
            }
        }
    
        .table-row {
            @include flex-row();
    
            & > .rc-checkbox {
                width: 100px;
                min-width: 100px;
            }
    
            & > .name,
            & > .description {
                min-width: 450px;
            }


            & > .id {
                min-width: 100px;
            }
    
            & > div {
                min-width: 100px;
            }
            & > .email-verified,
            & > .user-active {
                text-align: center;
            }
        }
    }

}

.clinics-form-layout {
    padding: 20px 0px 20px 0px;

    .current-map {
        width: 100%;
        height: 508px;
        padding-top: 16px;
    
        & > div > div {
            border-radius: 8px;
        }
    }
}

.locations-menu {
    border-radius: 4px;
    padding: 10px;
    width: 300px;
    height: auto;
    background-color: white;

    & > .close-icon {
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        & > div {
            width: auto;

            & > svg {
                width: 14px;
            }
        }
    }

    & > div {
        padding: 5px;
    }
}
